In [ ]:
#Projeto1 Olist

In [ ]:
#Equipe:
# Adriana Roberta Miceli de Souza
# Virgínia de Fernandes Souza

Processamento de dados:

criar tabela com todos os MQLs, com todas as informações disponíveis para cada um.
criar uma coluna com quais MQLs fecharam acordo e quais foram perdidos.

Perguntas a serem respondidas:

Qual foi a taxa de conversão total?
Qual foi a taxa de conversão de cada origem?
Qual foi a taxa de conversão de cada página inicial?
Para cada SR, qual a receita média declarada dos leads?
Para cada SR, quantos de cada business_type a pessoa converteu?
Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?
Para cada SR, quantos de cada lead_type a pessoa converteu?

In [31]:
# Começamos sempre importando nossas bibliotecas.
import numpy as np
import pandas as pd

In [ ]:
#criar tabela com todos os MQLs, com todas as informações disponíveis para cada um.

In [50]:
#ler os arquivos do dataset
df_closed_deals = pd.read_csv('olist_closed_deals_dataset.csv', sep=',', parse_dates=['won_date'])
df_marketing = pd.read_csv('olist_marketing_qualified_leads_dataset.csv', sep=',', parse_dates=['first_contact_date'])

In [51]:
df_completo = pd.merge(df_marketing, df_closed_deals , how='left', on='mql_id')
df_completo.head()

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0

In [53]:
#criar uma coluna com quais MQLs fecharam acordo e quais foram perdidos.
mask = df_completo['sdr_id'].notna()

In [54]:
mask

0       False
1       False
2       False
3       False
4        True
        ...
7995    False
7996    False
7997    False
7998    False
7999     True
Name: sdr_id, Length: 8000, dtype: bool

In [56]:
df_completo['is_closed'] = mask

In [57]:
df_completo.head()

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,is_closed
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,True

In [58]:
#Qual foi a taxa de conversão total?
mask = df_completo['is_closed']==True
taxa = len(df_completo[mask])/df_completo.shape[0]
print(f'A taxa de conversao foi de {taxa*100:.2f}%')

A taxa de conversao foi de 10.53%

In [60]:
df_origem_completo = df_completo.groupby('origin').agg({'is_closed':'count'})

In [61]:
df_por_origem = df_completo[mask].groupby('origin').agg({'is_closed':'count'})

In [62]:
#Qual foi a taxa de conversão de cada origem?
df_por_origem/df_origem_completo*100

                   is_closed
origin
direct_traffic     11.222445
display             5.084746
email               3.042596
organic_search     11.803136
other               2.666667
other_publicities   4.615385
paid_search        12.295082
referral            8.450704
social              5.555556
unknown            16.287534

In [63]:
#Qual foi a taxa de conversão de cada página inicial?
df_lp_completo = df_completo.groupby('landing_page_id').agg({'is_closed':'count'})
df_por_lp = df_completo[mask].groupby('landing_page_id').agg({'is_closed':'count'})
df_por_lp/df_lp_completo*100

                                   is_closed
landing_page_id
007f9098284a86ee80ddeb25d53e0af8    6.060606
01850876d34b43494b5f9879c366877b         NaN
0218f6be0b76aca72ab4d00ee9e8cf10   12.500000
03c7c0ace395d80182db07ae2c30f034         NaN
04a75b75d5f4f3a16b0178fbe382da00  100.000000
...                                      ...
fd7c4cdfbfb7964b441618d54f88c38b         NaN
fd7d977e75d1ac5cfe6b93ffabb150b1         NaN
fe82aeadeaea2186478fe6353d6d5301   25.000000
ff3416719616ad4921acb8c74e21d6f0         NaN
ffc62d6945fd1423539ec6d96326c37c  100.000000

[495 rows x 1 columns]

In [64]:
#Para cada SR, qual a receita média declarada dos leads?
df_completo.groupby('sr_id').agg({'declared_monthly_revenue': 'mean'})

                                  declared_monthly_revenue
sr_id
060c0a26f19f4d66b42e0d8796688490                  0.000000
068066e24f0c643eb1d089c7dd20cd73               7037.037037
0a0fb2b07d841f84fb6714e35c723075               6000.000000
2695de1affa7750089c0455f8ce27021               1694.915254
34d40cdaf94010a1d05b0d6212f9e909              19000.000000
495d4e95a8cf8bbf8b432b612a2aa328               6666.666667
4b339f9567d060bcea4f5136b9f5949e              27777.777778
4ef15afb4b2723d8f3d81e51ec7afefe             377293.233083
56bf83c4bb35763a51c2baab501b4c67              12500.000000
6565aa9ce3178a5caf6171827af3a9ba                  0.000000
6aa3b86a83d784b05f0e37e26b20860d               8000.000000
85fc447d336637ba1df43e793199fbc8               1562.500000
9749123c950bf8363ace42cb1c2d0815             103571.428571
9ae085775a198122c5586fa830ff7f2b                  0.000000
9d12ef1a7eca3ec58c545c678af7869c              43333.333333
9e4d1098a3b0f5da39b0bc48f9876645                  0.000000
a8387c01a09e99ce014107505b92388c              24038.692308
b90f87164b5f8c2cfa5c8572834dbe3f                  0.000000
c638112b43f1d1b86dcabb0da720c901                  0.000000
d3d1e91a157ea7f90548eef82f1955e3               4939.024390
de63de0d10a6012430098db33c679b0b             151415.094340
fbf4aef3f6915dc0c3c97d6812522f6a                  0.000000

In [65]:
#Para cada SR, quantos de cada business_type a pessoa converteu?
#df_completo[mask].groupby(['sr_id', 'business_type'])['is_closed'].count()
df_completo[mask].groupby(['sr_id', 'business_type']).agg({'is_closed':'count'})

                                                is_closed
sr_id                            business_type
060c0a26f19f4d66b42e0d8796688490 manufacturer           9
                                 reseller              23
068066e24f0c643eb1d089c7dd20cd73 manufacturer           6
                                 reseller              21
0a0fb2b07d841f84fb6714e35c723075 other                  1
2695de1affa7750089c0455f8ce27021 manufacturer          16
                                 reseller              42
34d40cdaf94010a1d05b0d6212f9e909 manufacturer           1
                                 other                  1
                                 reseller               8
495d4e95a8cf8bbf8b432b612a2aa328 manufacturer          14
                                 reseller              47
4b339f9567d060bcea4f5136b9f5949e manufacturer           2
                                 reseller               6
4ef15afb4b2723d8f3d81e51ec7afefe manufacturer          43
                                 reseller              90
56bf83c4bb35763a51c2baab501b4c67 manufacturer           8
                                 reseller              16
6565aa9ce3178a5caf6171827af3a9ba manufacturer          19
                                 reseller              54
6aa3b86a83d784b05f0e37e26b20860d reseller               1
85fc447d336637ba1df43e793199fbc8 manufacturer          25
                                 reseller              39
9749123c950bf8363ace42cb1c2d0815 manufacturer           2
                                 reseller               5
9ae085775a198122c5586fa830ff7f2b manufacturer          15
                                 reseller              36
9d12ef1a7eca3ec58c545c678af7869c manufacturer           2
                                 reseller               4
9e4d1098a3b0f5da39b0bc48f9876645 manufacturer          10
                                 reseller              14
a8387c01a09e99ce014107505b92388c manufacturer           4
                                 other                  1
                                 reseller              21
b90f87164b5f8c2cfa5c8572834dbe3f reseller               1
c638112b43f1d1b86dcabb0da720c901 manufacturer          12
                                 reseller              22
d3d1e91a157ea7f90548eef82f1955e3 manufacturer          19
                                 reseller              61
de63de0d10a6012430098db33c679b0b manufacturer          12
                                 reseller              40
fbf4aef3f6915dc0c3c97d6812522f6a manufacturer          23
                                 reseller              36

In [66]:
#Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?
df_completo[mask].groupby(['sr_id', 'lead_behaviour_profile']).agg({'is_closed':'count'})

                                                         is_closed
sr_id                            lead_behaviour_profile
060c0a26f19f4d66b42e0d8796688490 cat                            15
                                 eagle                           2
                                 shark                           1
                                 wolf                            6
068066e24f0c643eb1d089c7dd20cd73 cat                            11
...                                                            ...
de63de0d10a6012430098db33c679b0b wolf                            5
fbf4aef3f6915dc0c3c97d6812522f6a cat                            30
                                 eagle                           9
                                 shark                           2
                                 wolf                            2

[80 rows x 1 columns]

In [67]:
#Para cada SR, quantos de cada lead_type a pessoa converteu?
df_completo[mask].groupby(['sr_id', 'lead_type']).agg({'is_closed':'count'})

                                                  is_closed
sr_id                            lead_type
060c0a26f19f4d66b42e0d8796688490 industry                 8
                                 offline                  1
                                 online_beginner          3
                                 online_big               2
                                 online_medium           15
...                                                     ...
fbf4aef3f6915dc0c3c97d6812522f6a online_beginner          1
                                 online_big               8
                                 online_medium           30
                                 online_small             6
                                 online_top               2

[118 rows x 1 columns]